@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Koh+Santepheap:wght@300&family=Lobster&family=Open+Sans&family=Roboto&display=swap');

.cart-details{
    padding:20px 20px;
    margin-top:20px;
    color:White;
    background: linear-gradient(to top, #215f00, #e4e4d9);
    font-family: 'Koh Santepheap', cursive;
    border-radius: 10px;
}

